#menub{
      
      
}

.hoverb{
    border: 3px solid #CCCCCC;
    background-color: #CCCCCC;
    
}

.menu{
    text-decoration: none;
    color: white;
    height: 23px;
    font-weight: bold;
    padding: 3px;
}
.menu a{
    text-decoration: none;
    color: white;
}
.menu:hover{
    background-color: black;
}

#menus{
      
    width: 200px;
    
}
#submenus{
    background-color: #CCCCCC;
    display: none;
    margin-right: 2px;
    position: absolute;
    top: 243px;
    right: 276px;

}

#button{

    text-align: right;
    position: relative;

}