.menu 
{
	list-style-image:url('http://localhost/compag.in/images/link.png');
	
}
.menu li 
{
	padding: 0;
	margin: 0 2px;
	position: right; /*absolute*/
}
.menu a 
{
	color: #3b608a;
	text-decoration: none;
	font-weight: bold;
}
.menu li em 
{
	width: 180px;
	height: 45px;
	position: right; /*absolute*/
	top: -85px;
	left: -15px;
	text-align: center;
	color: #3b608a;
	font-weight: bold;
	padding: 20px 30px 10px;
	font-style: normal;
	z-index: 2;
	display: none;
}
.linkcontent
{
	width: 800px; 
	margin: 0 auto; 
	overflow: auto; 
	min-height: 450px;
}
.linkcontent h3
{
	background-color:#EEEEE0;
	color:#4F4F4F;
	height:25px;
	text-align:center;
	border-top: 2px solid #CCCCCC;
	border-bottom: 2px solid #CCCCCC;
	padding: 3px 5px 0px 3px;
	/*border-radius:7px;
	-moz-border-radius:7px; */
}
